<h2>Unos Kvara za Prevozna Sredstva</h2>

<!-- Pretraga po identifikatoru -->
<mat-form-field>
    <mat-label>Pretraga po identifikatoru</mat-label>
    <input matInput [(ngModel)]="searchQuery" (keyup)="applyFilter()" placeholder="Unesite identifikator">
</mat-form-field>

<!-- Tabela prevoznih sredstava -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Identifikator -->
    <ng-container matColumnDef="identifikator">
        <th mat-header-cell *matHeaderCellDef> Identifikator </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.identifikator }} </td>
    </ng-container>

    <!-- Tip Prevoznog Sredstva -->
    <ng-container matColumnDef="tip">
        <th mat-header-cell *matHeaderCellDef> Tip </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.tip }} </td>
    </ng-container>

    <!-- Status Prevoznog Sredstva -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let vehicle"> {{ vehicle.status }} </td>
    </ng-container>

    <!-- Akcije -->
    <ng-container matColumnDef="akcije">
        <th mat-header-cell *matHeaderCellDef> Akcije </th>
        <td mat-cell *matCellDef="let vehicle">
            <button mat-button color="primary" (click)="openAddFaultDialog(vehicle)">Unos Kvara</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Paginacija -->
<mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
</mat-paginator>

<!-- Dijalog za unos kvara -->
<ng-template #addFaultDialog let-data>
    <h2 mat-dialog-title>Dodaj Kvar</h2>
    <mat-dialog-content>
        <form [formGroup]="faultForm">
            <mat-form-field appearance="fill">
                <mat-label>Opis kvara</mat-label>
                <input matInput formControlName="opis" placeholder="Unesite opis kvara">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Datum i vreme</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="datumVrijeme">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button (click)="onCancel()">Otkaži</button>
        <button mat-button color="primary" (click)="onSubmit()">Dodaj</button>
    </mat-dialog-actions>
</ng-template>