<h2 mat-dialog-title>{{ data ? 'Izmeni proizvođača' : 'Dodaj proizvođača' }}</h2>
<mat-dialog-content>
    <form [formGroup]="proizvodjacForm">
        <mat-form-field class="full-width">
            <mat-label>Naziv</mat-label>
            <input matInput formControlName="naziv">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Država</mat-label>
            <input matInput formControlName="drzava">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Adresa</mat-label>
            <input matInput formControlName="adresa">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Telefon</mat-label>
            <input matInput formControlName="kontaktTelefon">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>FAX</mat-label>
            <input matInput formControlName="kontaktFax">
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="kontaktEmail">
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="close()">Otkaži</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="proizvodjacForm.invalid">
        Sačuvaj
    </button>
</mat-dialog-actions>