<div class="dashboard-container">
    <!-- Sidebar -->
    <aside class="sidebar">
        <h2>Admin Panel</h2>
        <nav>
            <ul>
                <li><a routerLink="/dashboard/manufacturers">Proizvođači</a></li>
                <li><a routerLink="/dashboard/vehicles">Prevozna sredstva</a></li>
                <li><a routerLink="/dashboard/users">Korisnici</a></li>
                <li><a (click)="logout()" style="color: red; cursor: pointer;">Odjavi se</a></li>
                <!-- Dugme za odjavu -->
            </ul>
        </nav>
    </aside>

    <!-- Main content -->
    <main class="content">
        <router-outlet></router-outlet>
    </main>
</div>